*~
*.spec
.*.swp
*.tar.gz
*.cdbs*
.deps
.libs
*.lo
*.log
*.loT
*.la
*.trs
.classpath
.project
.settings
.vscode
target
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-tree
classes
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
java.built
libtool
ltmain.sh
org_opennms_*.h
missing
pom.xml
pom.xml.asc
solaris/pkginfo
stamp-h1
tests.sh
tests/*.class
test-driver
test-suite.log
tests.sh.log
tests.sh.trs
jicmp6.jar

.project
.classpath
node_modules
package.json
package-lock.json
/build/
/public/
/docs-src/antora.yml
